*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Lato', sans-serif;
}
/* header section start */
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E554731A;
    margin-bottom: 20px;
}
.header-title h1{
    color: #272727;

font-size: 50px;

font-weight: 800;
margin-bottom: 25px;
}
.header-title p{
    color: #27272799;
    font-size: 18px;

font-weight: 400;
line-height: 25px;
margin-bottom: 32px;
}
.header-title button{
    border-radius: 8px;
background: #E55473;
color: white;
padding: 15px 20px;
border: none;

}
/* header section end */
/* featured section start */
.featured{
    text-align: center;
    margin-top: 130px;

}
.primary-title h1{
    color: #272727;
    font-size: 40px;

font-weight: 800;
margin-bottom: 10px;
text-align: center;
}
.primary-title p{
    color: #272727;
    font-size: 18px;
    margin-bottom: 50px;
text-align: center;
font-weight: 400;
line-height: 30px;
}
.flower-one{
    background-color: rgba(167, 33, 98, 0.15);
    width: 320px;
    height: 374px;
    padding: 91px 130px 0px 26px;
    border-radius: 50% 50% 0% 0%;
    margin-bottom: 50px;
    margin-right: 10px;
}

.flower-two{
    background: rgba(5, 151, 160, 0.15);
    width: 320px;
    height: 374px;
    padding: 110px 130px 0px 42px;
    border-radius: 50% 50% 0% 0%;
    margin-bottom: 50px;
    margin-right: 10px;

}
.flower-three{
    background: rgba(71, 125, 17, 0.15);
    width: 320px;
    height: 374px;
    padding: 82px 130px 0px 66px;
    border-radius: 50% 50% 0% 0%;
    margin-bottom: 50px;
    margin-right: 10px;
}
.featured-flowers{
    display: flex;
    justify-content: center;
} 

.img{
    width: 205px;
    height: auto;
    margin-bottom: 20px;
 
}
.img-two{
    width: 249px;
    height: auto;
    margin-bottom: 33px;
}
.img-three{
    width: 194px;
    height: auto;
    margin-bottom: 20px;
}
.flower-link{
    margin-right: -57px;
    color: #272727;
}
/* featured section end */
/* fresh flowers start */
.fresh-flower{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    height: auto;
    padding: 50px 60px;
    margin-bottom: 50px;
    margin-left: 10%;
    margin-right: 10%;
}
.frist-fresh-flower img{
    margin-left: 56px;
}
.send-fresh-flower img{
    margin-left: 77px;
}
.thrd-fresh-flower img{
    margin-left: 10px;
}
/* fresh flower end */
.deal{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(229, 84, 115, 0.05) ;
    margin-bottom: 50px;
}
.deal-title{
    margin-left: 30px;
}
.deal-title h1{
    font-size: 35px;
    color: #272727;
margin-bottom: 10px;
font-weight: 800;
}
 span{
    color: #E55473;
}
.deal-title p{
    color: rgba(39, 39, 39, 0.60);
text-align: center;

font-size: 18px;

font-weight: 400;
line-height: 30px;
}
.deals-button{
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 12px 24px;
    color: white;
    margin-left: 234px;
    margin-top: 10px;
}
.deal-image img{
    margin-right: 65px;
    margin-top: 70px;
}
/* images section start */
.images{
    display: flex;
     justify-content: center;
  
}
.images-section p{
    color: rgba(39, 39, 39, 0.60);
}
.images img{
    width: 200px;
    height: auto;
    padding: 0 5px;
}

/* images section finished */
.latest-deal{
    
 background-image: url('./FlowerAsset/Rectangle\ 9.png');
background-size: cover;

 width: 80%;
    margin-right: 10%;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 50px;
    border-radius: 8px;
    margin-left: 10%;
}
.latest-deal h1{
    color: #272727;
text-align: center;
padding-top: 40px;
font-size: 40px;

font-weight: 800;
}
.latest-deal p{
    font-size: 18px;
margin-bottom: 20px;
font-weight: 400;
line-height: 30px;
color: rgba(39, 39, 39, 0.60);

}
input[type="email"] {
    padding: 10px 250px 10px 10px;
    border: none;
    border-radius: 8px;
    background: #FFF;
    margin-bottom: 40px;
}
.latest-btn{
    border-radius: 8px;
    background: #E55473;
    border: none;
    padding: 10px 21px;
    color: white;

}
/* latest deals finished */
footer{
    text-align: center;
align-items: center;
    color: #FFF;
    background: #111010;
    padding: 15px;
}
footer h1{
    font-size: 48px;
padding-top: 50px;
font-weight: 800;
}
footer p{
    padding: 10px;
    font-size: 18px;

font-weight: 400;
line-height: 30px
}
.copy{
    color: rgba(255, 255, 255, 0.40);
}